<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="edu.berkeley.cs160.smartnature"
	android:versionCode="1"
	android:versionName="1.0">
	
	<uses-sdk android:minSdkVersion="7" />
	<uses-feature android:name="android.hardware.camera" android:required="false" />
	<uses-feature android:name="android.hardware.camera.autofocus" android:required="false" />
	<uses-feature android:name="android.hardware.location.network" android:required="false" />
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
	<uses-permission android:name="android.permission.CAMERA" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	
	<application
		android:icon="@drawable/icon"
		android:label="@string/app_name"
		android:theme="@android:style/Theme.Light">
		<activity android:name=".StartScreen"
			android:label="@string/app_name">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>

		<activity android:name=".GlobalSettings"
			android:label="@string/global_prefs_name">
			<intent-filter>
				<category android:name="android.intent.category.PREFERENCE" />
			</intent-filter>
		</activity>

		<activity android:name=".GardenScreen"
			android:label="@string/app_name">
		</activity>
		
		<activity android:name=".PlantScreen">
		</activity>
		
		<activity android:name=".FindGarden">
		</activity>
		
		<activity android:name=".PlotScreen">
		</activity>
		
		<activity android:name=".ShareGarden">
		</activity>
		
		<activity android:name=".AddPlot"
			android:theme="@style/Theme.Dialog.NoTitleBar">
		</activity>
		<activity android:name=".AddPlant"
			android:theme="@style/Theme.Dialog.NoTitleBar">
		</activity>
		<activity android:name=".EditScreen"
			android:label="@string/app_name">
		</activity>
		
		<activity android:name=".GardenAttr"
			android:label="@string/app_name">
		</activity>
		
		<activity android:name=".ColorPicker">
		</activity>

		<activity android:name=".Encyclopedia"
			android:label="@string/app_name">
        </activity>
	</application>
</manifest>